.card {
    align-items: center;
    max-width: 91vw;
    /* margin: 37px auto; */
    font-family: 'Ubuntu', sans-serif;
}

.cards {
    display: flex;
    /* overflow: hidden; */
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
}


/* .card-item img:hover { */


/* color: blueviolet; */


/* } */

.card h2 {
    font-family: 'Lato', sans-serif;
    margin-left: 700px;
}

h2 {
    margin-left: 500px;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.my-1 {
    margin: 5px 0;
}

.my-2 {
    margin: 26px 0;
    /* text-align: center; */
    font-weight: 800;
    color: rgb(227, 170, 15);
    /* background-color: rgb(89, 86, 82); */
}

.lines p {
    color: rgb(92 72 245);
}

button {
    background-color: rgb(47 52 51 / 85%);
    color: azure;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    cursor: pointer;
}

.lines p button:hover {
    color: rgb(19, 22, 22);
    background-color: aqua;
}